.contact {
    margin-bottom: 140px;
}

.contact__desc {
    max-width: 323px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: var(--grey);
    padding: 60px 0 80px 100px;
    border-radius: 45px;
    position: relative;
    overflow: hidden;

}

.contactbg {
    position: absolute;
    right: -325px;
}

/* Radio  */



/* Wrap  */

.radio__wrap {
    display: flex;
    align-items: center;
    gap: 35px;
}


/* Box  */

.radio__box {
    position: relative;

}

/* Label  */

.label__radio {
    font-family: var(--SR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
    cursor: pointer;
    padding-left: 42px;
}


.label__radio::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid var(--black);
    border-radius: 50%;
    background: var(--white);
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    transition: 0.3s;
}

.label__radio::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: var(--green);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: 6px;
    top: 50%;
    transform: translate(1px, -50%);
    opacity: 0;
    transition: 0.3s;
}


/* Input  */

.input__radio {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.input__radio:checked+.label__radio::after {
    opacity: 1;
}



/* Form - list */

.form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Input__wrap  */

.input__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

/* Style input and label  */

.label__title {
    font-family: var(--SR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}

.input__inner {
    font-family: var(--SR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--grey2);
    outline: none;
    background: var(--white);
    padding: 18px 30px;
    border: 1px solid var(--black);
    border-radius: 14px;
    width: 556px;
}

.textarea {
    resize: none;
    font-family: var(--SR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--grey2);
    outline: none;
    background: var(--white);
    padding: 18px 30px;
    border: 1px solid var(--black);
    border-radius: 14px;
    width: 556px;
    height: 190px;
}

.contact__btn {
    width: 556px;
}

.error .input__inner {
    border-color: red;
}

.error-label {
    font-family: var(--SM);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: red;
    display: block;
    margin-bottom: 5px;
}


.swal-title {
    font-family: var(--SM);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: var(--white);
}

.swal-text {
    font-family: var(--SR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
}

.swal-button {
    background: var(--green);
    font-family: var(--SM);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--dark);

}

.swal-icon--success__line {
    background: var(--green);
}

.swal-icon--success__line {
    background: var(--green);
}

.swal-icon--success__ring {
    border: 4px solid var(--green 0.9)
}

.swal-modal {
    background: var(--dark);
    width: 600px;
}

.swal-icon--success:after, .swal-icon--success:before {
    background: var(--dark);
}

.swal-icon--success__hide-corners {
    background: var(--dark);
}